<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607386228532-e2nveqqi33br6bge34jt0s3qkrf4sv0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607386228532-e2nveqqi33br6bge34jt0s3qkrf4sv0l</string>
	<key>API_KEY</key>
	<string>AIzaSyBdCREt50Ef7vO6vs6UCpohEhPEgfx0M1M</string>
	<key>GCM_SENDER_ID</key>
	<string>607386228532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primesophic.ordo</string>
	<key>PROJECT_ID</key>
	<string>ordo-378e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ordo-378e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607386228532:ios:abc9b802b13a0e3e4d7761</string>
</dict>
</plist>